<div class="wizard-container">

    <div class="progress" *ngIf="showProgressBar">
        <div class="progress-bar" role="progressbar" [ngStyle]="{'width':  progress +'%'}">
        </div>
    </div>

    <div class="nav-center" *ngIf="showHeader">
        <ul class="nav nav-pills nav-pills-warning nav-pills-icons" role="tablist">
            <ng-container *ngFor="let tab of tabs">
                <li (click)="tab.active = true" [class.active]="tab.active" >
                    <a data-toggle="tab" role="tab" [ngClass]="tab.customClass">
                        <i class="material-icons">{{ tab.icon }}</i>
                        <div class="tab-info">
                            {{ tab.heading }}
                        </div>
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>

    <div [attr.data-color]="color" id="wizardProfile">
        <ng-content select=".wizard-header"></ng-content>

        <div class="tab-content">
            <ng-content></ng-content>
        </div>

        <div class="wizard-footer">
            <div *ngIf="nextButtonVisible">
                <input #nextButton type='button' [ngClass]="nextButtonClass" name='next' [value]='nextButtonText' (click)="nextTab()"/>
            </div>
            <div *ngIf="previousButtonVisible" >
                <input #previosButton type='button' [ngClass]="prevButtonClass" name='previous' [value]='previousButtonText' (click)="previousTab()"/>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

